# Database Configurations
MONGO_URI=mongodb://mongo:27017/metacrawler
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Internal Service Routing
GO_SERVICE_URL=http://go:8080
NODE_SERVICE_URL=http://node:3000
PYTHON_SERVICE_URL=http://python:8000
NEXT_PUBLIC_GRAPHQL_URL=http://localhost:4000/graphql