version: '3'
services:
  python:
    build: ./backend-python
    ports:
      - "5000:5000"

  go:
    build: ./backend-go
    ports:
      - "8080:8080"

  node:
    build: ./backend-node
    ports:
      - "3000:3000"
